.header {
    padding: 0;
    margin: 0;
    background: #fff;
}

.header .image-logo {
    margin-left: -15px;
}

.header h2 {
    margin-top: 15px;
}

.header ul {
    display: flex;
    margin-top: 15px;
    padding: 0;
}

.header ul li {
    list-style: none;
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.header ul li a {
    color: rgb(112, 112, 112);
}

.header ul li a:hover {
    transition: 0.5s;
    color: #333;
    text-decoration: none;
}
